## from https://osquery.readthedocs.org/en/stable/deployment/log-aggregation/
input {
  file {
    path => "{{ elk4dfir_manual_parsing_dir }}/osquery/osqueryd.results.log"
    type => "osquery_json"
    codec => "json"
  }
}

filter {
   if [type] == "osquery_json" {
      date {
        match => [ "unixTime", "UNIX" ]
      }
   }
}

output {
  stdout {}
  elasticsearch {
     hosts => [ "127.0.0.1" ]
   }
}

